<?xml version="1.0"?>
<model>
  <name>Mobile Sensor</name>
  <version>2.0</version>
  <!-- <sdf version="1.4">model-1_4.sdf</sdf> -->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Tianpeng Zhang</name>
    <email>tzhang@g.harvard.edu</email>
  </author>

  <description>
    Mobile Sensor
  </description>
</model>
